# Compiled Python files
__pycache__/
*.pyc

# Virtual environment
venv/
env/
*.env
.env.*

# Editor or IDE files
.vscode/
.idea/
*.sublime-*

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.swp

# Ignore environment-specific files
*.venv
